@model MatchdayMadness2.Models.Favorites

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Favorites</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teamsid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teams.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayersID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Players.Name)
        </dd>
    </dl>

    <form asp-action="ExecuteDelete" method="post">
        @Html.HiddenFor(model => model.id) <!-- Hidden field for id -->
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Back to List</a>
    </form>
</div>
